---
layout: layout.liquid
title: AirPods
permalink: /airpods/
---
<h1>AirPods</h1>
<img src="/images/airpods.jpg" alt="My AirPods" width="400">
<p>I keep AirPods on me so I can take a call right away if my family or dad needs me.</p>
<p>They also let me zone out background noise when I have to do homework or study.</p>
{% edcMeta "I need to answer calls fast and block distractions" %}
