---
layout: layout.liquid
title: Keys
permalink: /keys/
---
<h1>Keys</h1>
<img src="/images/keys.jpg" alt="My keys" width="400">
<p>I always carry my keys because I need them to lock and unlock my house and car.</p>
<p>If I ever forgot them, I wouldn’t be able to drive or even get inside my house, so I make sure they’re always with me.</p>
{% edcMeta "keys are essential for access and responsibility" %}
