---
layout: layout.liquid
title: Phone
permalink: /phone/
---
<h1>Phone</h1>
<img src="/images/phone.jpg" alt="My phone" width="400">
<p>My phone is for school, directions, and communication whenever I need it.</p>
<p>I have to stay in constant contact with my dad and the rest of my family, so I keep it on me all the time.</p>
{% edcMeta "my family needs to reach me fast and I use it for MSU stuff too" %}
